@charset "utf-8";

/*basic styles for everywhere */
body { font-family: 'Fira Sans', sans-serif;
	color: #F3CCE0;
	background-color: #122237; 
	}  

h6 { text-align: center;
	font-weight: bolder; }
h5 {text-align: center}
 
a { color: #122237;}

/*background image index */
.bg {
/* The image used */
background-image: url("../images/BANNERLALALA.2jpg.jpg") ;

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
} 

/* index middle part */

h3 { text-align: center;}

.container {padding: 50px;}


/*about us page*/

.bg2 {
/* The image used */
background-image: url("../images/bannernew.png") ;

/* Full height */
height: 40%;

/* Center and scale the image nicely */
background-position:top;
background-repeat: no-repeat;
background-size: auto;
} 

h1 {text-align: center;
	color: #122237;
padding-top: 15px;}

.whoarewe {padding-top: 15px;}

.aboutus {text-align: left}

.vision {text-align: center}

.bigvisionmission {text-align: center;
					padding-top: 35px;
					}

.visionmission {text-align: center;
				color: #9CCCEE;}

.lastvalue {text-align: center;
				color: #9CCCEE;
				padding-bottom: 60px;}

#aboutpanda {margin-left: 120px;
			padding-top: 40px; padding-bottom: 20px;}

#moonmoxiead {margin-left: 180px;
			margin-top: 60px;}


/* navbar */
 
#navbar {text-align: right;}

.list-unstyled { text-align: center}

/* Footer */

h5 { margin-top:30px;}



.page-footer { background-color: white;
				color: #122237;}

p { line-height: 1.4;
text-align: center;}

#panda { width: 250px; }

#logo {width: 150px;
        text-align:left;}


/* Contact page: Contact form */

	/* Style inputs with type="text", select elements and textareas */
	input[type=text], select, textarea {
	  width: 100%; /* Full width */
	  padding: 20px; /* Some padding */  
	  border: 1px solid #ccc; /* Gray border */
	  border-radius: 4px; /* Rounded borders */
	  box-sizing: border-box; /* Make sure that padding and width stays in place */
	  margin-top: 6px; /* Add a top margin */
	  margin-bottom: 16px; /* Bottom margin */
	  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
	}

	/* Style the submit button with a specific background color etc */
	input[type=submit] {
	  background-color: lightblue;
	  color: white;
	  padding: 12px 20px;
	  border: none;
	  border-radius: 4px;
	  cursor: pointer;
	}

	/* When moving the mouse over the submit button, add a pink colorr */
	input[type=submit]:hover {
	  background-color: thistle;
	}

/* Contact page: social media */

	.reddit {
	
	color: #E3AFF1;
	
	}

	.youtube {
		
	color: #EE92E5;
		
		}

	.discord  {
		
	color: #CE6CCA;
		
		}

	.mail {
		
	color: #B14DA6;
		}