@charset "utf-8";

body { font-family: 'Fira Sans', sans-serif;
	color: #F3CCE0;
	background-color: #122237; 
	}  

#image { display: block; 
	margin-left: auto; margin-right: auto; width: 50%;
	margin-top: 50px;
}


p { line-height: 1.4;
text-align: center;}

h6 { text-align: center;
	font-weight: bolder; }
h5 {text-align: center}

#image2 { display: block; 
	margin-left: auto; margin-right: auto; width: 35%;
	margin-top: 20px; } 

a { color: #97F5F5; }



.bg {
/* The image used */
background-image: url("../images/BANNERLALALA.2jpg.jpg") ;

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
} 