@charset "utf-8";

/*basic styles for everywhere */
body { font-family: 'Fira Sans', sans-serif;
	color: #F3CCE0;
	background-color: #122237; 
	}  

h6 { text-align: center;
	font-weight: bolder; }
h5 {text-align: center}
 
a { color: #D0D1FF; }

/*background image index */
.bg {
/* The image used */
background-image: url("../images/BANNERLALALA.2jpg.jpg") ;

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
} 

/* index middle part */


#images {
	padding-top: 80px;
	padding-bottom: 60px;
	padding-left: 30px;
	padding-right: 30px; 
}

/*about us page*/

.bg2 {
/* The image used */
background-image: url("../images/bannernew.png") ;

/* Full height */
height: 40%;

/* Center and scale the image nicely */
background-position:top;
background-repeat: no-repeat;
background-size: auto;
} 

h1 {text-align: center;
	color: #122237;
padding-top: 15px;}

.aboutus {text-align: left}

#aboutpanda {margin-left: 120px;
			padding-top: 40px; padding-bottom: 20px;}


/* navbar */
 
.p-3 {
  padding: .3 !important;
} 

#navbar {text-align: "right" ;}

.list-unstyled { text-align: center}

/* Footer */

h5 { margin-top:30px;}

.page-footer { background-color: white;}

p { line-height: 1.4;
text-align: center;}

#panda { width: 250px; }

#logo {width: 150px;
        text-align:"left";}
